h2 {
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
    padding: 0px 10px;
    background-color: white;
    width: 40px;
    height: 50px;
}

.navigationList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid #949292;
    border-radius: 25px 25px 25px 25px;
}

li {
    flex:1;
    float: left;
    border-right: 1px solid #949292;
    transition: 0.3s;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 20%;
    margin-top: 5px;
}

li:last-child {
    border-right: none;
}
li:nth-child(1) {
    background-color: #e7c924;
} 
li:nth-child(2) {
    background-color: #007bff;
} 
li:nth-child(3) {
    background-color: #28a745;
} 
li:nth-child(4) {
    background-color: #6f42c1;
} 
li:hover {
    transition: 0.3s;
    opacity: 0.7;
}

section img {
    display: block;
    height: 80%;
    width: 100%; 
}

section {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}
